<div class="container text-bg-dark">
  <div class="row align-items-start" style="width: 70%; margin:0 auto">
    <div class="col">
      AMPEREZ
    </div>
    <div class="col">
      ENLACES RAPIDOS
    </div>
    <div class="col">
      CONTÁCTANOS
    </div>
  </div>
  <div class="row align-items-center" style="width: 70%; margin:0 auto">
    <div class="col">
      El mejor equipo de cómputo para uso personal.
      <br>
      <br>
    </div>
    <div class="col">
      Inicio
      <br>
      Products
      <br>
      Nosotros
    </div>
    <div class="col">
      contacto&#64;amperez.com
      <br>
      +52 123 456 7890
      <br>
      Ciudad de México, México.
    </div>
  </div>
  <hr>
  <div class="row align-items-end" style="width: 60%; margin:0 auto">
    <div class="col">

    </div>
    <div class="col">
      &copy; {{ copyLegal }}
    </div>
    <div class="col">

    </div>
  </div>

</div>